<a href="https://colab.research.google.com/github/basoluk/basoluk/blob/main/shortcuts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install tensorflow-io

In [208]:
p=3.14
i=int(p)
print (i, '\n')
print(type(i))

3

<class 'int'>

In [ ]:
 #TYPES OF DATA 
 int() â€“ converts some data types into integer type. 
float() â€“ converts some data types into float type.
 str() â€“ converts any data type into string type.

In [ ]:
    \n : means new line, #seperations
    \t : means tab mark,
    \b : means backspace. It moves the cursor one character to the left.

In [ ]:
print("one", "two", "three", sep="\t") # separated by tab marks

In [46]:
print('it\'s funny to learn Python') #seperate with ' (\'s)
text1='it'
text2= 'easy'
print(text1+ '\'s very ' +text2)# blank before  upper comma

it's funny to learn Python
it's very easy

In [ ]:
print('we', '\bare', '\bunited') 
print('we', 'are', 'united', sep='\b')#??

In [ ]:
#, sep=', ') #seperate with comma
color='blue'
price=20
season='summer'
print(color, price, season, sep=', ')

In [ ]:
print('i', end=' ') # end seperate with blank
print('will say', end=' ')
print("'i missed you'", end=' ')
print('to my mother')

In [ ]:
fruit = 'Orange' #seperating with and 
vegetable = "Tomato"
print (fruit, """ and """ , vegetable)

In [ ]:
x = 5 #seperate with line
print(x)
x += 2
print ("2 more of x      : ", x, "\n") # using string expression '\n', 
                                       # we produce extra line. 
                                       # So that we had empty line.
y = 10
print ('value of y       : ', y)

In [ ]:
    -= decrements the variable in place,
    += increment the variable in place,
    *= multiply the variable in place,
    /= divide the variable in place,
    //= ï¬‚oor divide the variable in place,
    %= returns the modulus of the variable in place,
    **= raise to power in place.

In [ ]:
print(39 + 1.0)
no1, no2 = 46, 52
no3 = no1 - no2
print(no3)
print((no1/23))
print(int(no1/23))
print(7 // 2) # it gives integer part of division
print(9 % 2)  # remainder of this division is 1
print(3**2) #square
print(64**0.5)  # square root

In [ ]:
x=10
print(type(str(x)))

In [ ]:
 ball_box = 20, 'basketball balls'
print(ball_box)
print(type(ball_box))

In [ ]:
#boolean 
logic = True and False or not False or False
print(logic)
x=True
y=False
z=True
print(x or y)
print(y or z or not x)
print(x or y and not z)
print(x or y and not z)
print(2 and 3)
print([] and "Hello World!")
print(5 and "Hello World!")
print('dog' or 3)
print(None or 1)
print(0 or {})

In [ ]:
#Indexing&Slicing Strings
fruit = 'Orange'
print('Word                   : ' , fruit)
print('First letter           : ' , fruit[0])
print('Second letter          : ' , fruit[1])
print("3rd to 5th letters     : " , fruit[2:5])
print("Letter all after 3rd   : " , fruit[2:])

city = 'Istanbul'
print(city[1:])  # starts from index 1 to the end
print(city[:6])  # starts from zero to 5th index
print(city[::2])  # starts from zero to end by 2 step
print(city[1::2])  # starts from index 1 to the end by 2 step
print(city[-3:])  # starts from index -3 to the end
print(city[::-1])  # negative step starts from the end to zero

In [ ]:
#  len() lenght function
vegetable = 'Tomato'
print('length of the word', vegetable, 'is :', len(vegetable))

In [ ]:
#    Arithmetic syntax (+, *, and =),
#    % operator formatting,
#   string.format() method,
#    f-string formatting. f.str f.string
print('clarus' + 'way')
print(3*'no way!')
fruit = 'Orange'
vegetable = 'Tomato'
print("using + :", fruit + vegetable)
print("using * :", 3 * fruit)

fruit = 'orange'
fruit += ' apple'
print(fruit)

In [ ]:
# % operator
phrase = 'I have %d %s and %.2f brothers' % (4, "children", 5)  
print (phrase)
sentence = "apologizing is a virtue"
print("%.11s" % sentence)  # we get first 11 characters of the string
print('%(amount)d pounds of %(fruit)s left' % {'amount': 33, 'fruit':'bananas'})

In [ ]:
# string.format() 
fruit = 'Orange'
vegetable = 'Tomato'
amount = 4
print('The amount of {} we bought is {} pounds'.format(fruit, amount))
print('{0} is the most {adjective} state of the {country}'.format('California', country='USA', adjective='crowded'))
print("{6} {0} {5} {3} {4} {1} {2}".format('have', 6, 'months', 'a job', 'in', 'found', 'I will'))

In [79]:
# f-string
#f-string
x='Tesla'
y='Kia e-niro'
z='BMW'
output= f'I would like to have either {x}, {y}, or {z}.'
print(output)

I would like to have either Tesla, Kia e-niro, or BMW.

In [ ]:
#Changing a String \formula syntax is : string.method()
#str.replace(old, new[, count])
#str.swapcase()
#str.capitalize()
# str.upper()
#str.lower()
#str.title()
sentence = "I live and work in Virginia"
print(sentence.upper())  
print(sentence.lower())
print(sentence.swapcase())
print(sentence)  # note that, source text is unchanged

sentence = "I live and work in Virginia"
title_sentence = sentence.title() 
print(title_sentence)  
changed_sentence = sentence.replace("i", "+")# !!! # string.replace \str.replace(old, new[, count]) 
print(changed_sentence)  
print(sentence)  # note that, again source text is unchanged

sentence = "I live and work in Virginia"
swap_case = sentence.swapcase()
print(sentence.swapcase ())
print(swap_case)
print(swap_case.capitalize())
print(swap_case.title())
print(swap_case.upper())

In [ ]:
#Editing a String
# str.strip() : removes all spaces (or specified characters) from both sides.
# str.rstrip() : removes spaces (or specified characters) from the right side.
#str.lstrip() : removes spaces (or specified characters) from the left side
space_string = "     listen first      "
print(space_string)
print(space_string.strip())  # removes all spaces from both sides
source_string = "interoperability"
print(source_string.strip("yi"))  
# removes trailing "y" or "i" or "yi" or "iy" from both sides
source_string = "interoperability"
print(source_string.lstrip("in"))  
# removes "i" or "n" or "in" or "ni" from the left side
space_string = "     listen first      "
print(space_string.rstrip())  # removes spaces from the right side
source_string = "interoperability"
print(source_string.rstrip("yt"))  
# removes "y" or "t" or "yt" or "ty" from the right side

text1='Ishak celik' # startswith \endswith
print(text1.startswith('Ish'))
print(text1.endswith('lik'))

In [ ]:
#COLLECTION TYPES
#LIST
#A list can be created by enclosing values, separated by commas, in square brackets ðŸ‘‰ðŸ»[].
country = ['USA', 'Brasil', 'UK', 'Germany', 'Turkey', 'New Zealand']
print(country)
string_1 = 'I will live in the US'
new_list_1 = list(string_1)  # we created multi element list ## !!!!
print(new_list_1)
new_list_2 = [string_1]  # this is a single element list
print(new_list_2)

mixed=mixed_list = 11, 'Joseph', False, 3.14, None, [1, 2, 3]
mixed_list=list(mixed)
print(mixed_list)

empty_list_1= [] # one form,
empty_list_2 = list() #another form

#append to a list
empty_list_1 = []
empty_list_1.append('114')
empty_list_1.append('plastic-free sea')
print(empty_list_1) 

city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city.append('Addis Ababa')
print(city) 

x=3,2,5,4,7
x_list=list(x)
print(x_list)
x_list.append('8') # pay attention to upper commas
print(x_list)
#insert ot the list 
x_list.insert(1,'10') # !!!!
print(x_list)

#sort sorting values
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Denver', 'Addis Ababa', 'Ankara', 'Dallas']
city.sort()  # lists the items in alphabetical order
print(city)   
print(len(city))

#slicing lists
#sequence[start:stop:step] # The first index of the element of a list is 0. We will never stop remembering that!
#my_list[:]: returns the full copy of the sequence
#my_list[start:] : returns elements from start to the end element
#my_list[:stop] : returns element from the 1st element to stop-1
#my_list[::step] : returns each element with a given step
count = list(range(11))
print(count)
print(count[0:11:2])

animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[:])  # all elements of the list
print(animals[3:])
print(animals[:3])
print(animals[::2])
print(animals[::3])
print(animals[:5])
animals.append ('ape')
#lists
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2])  # If we start at zero, 
# the second element will be 'blue'.
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city_list = []
city_list.append(city) # we have created a NESTED list
print(city_list)
print(city_list[0][2])
print(city_list[0][2][3]) # third letter of the second city

#Slicing a List
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])  # we get the elements from index=2 to index=5(5 is not included)
count = list(range(11))
print(count)
print(count[0:11:2]) # list by two consecutive

# Negative Indexing & Slicing
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(city[-4])
print(city[-3:])

print(city)
print(city[-3::])
city_2=['Ankara', 'Bursa', 'Los Angeles']
city.append(city_2)
city.append ('Oslo')
print(city)

#reverse order.
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3:])

odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(odd_no[7:3:-1])
print(odd_no[2:6:-1])

In [ ]:
#TUPLES
empty_tuple = ()
print(type(empty_tuple))

try_tuple = ('love')
print(try_tuple)
print(type(try_tuple)) # it's not tuple type.
try_tuple = ('love',3,8, 3.14)
print(try_tuple)
print(type(try_tuple)) # it's a tuple type.

planets = 'mercury'
print(planets)
print(type(planets)) # STRING
planets = 'mercury', 'jupiter', 'saturn'
print(planets)
print(type(planets)) #tuple

my_list = [1, 4, 3, 4, 5, 6, 7, 4]
my_tuple = tuple(my_list)
print(type(my_tuple), my_tuple)

mix_value_tuple = (0, 'bird', 3.14, True)
print(len(mix_value_tuple))

city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']
print(type(city_list))
city_tuple=tuple(city_list)
print (city_tuple)
print(type(city_tuple))
# city_tuple[0] = 'New York'  # you can't assign a value

In [ ]:
#DICTIONARIES  The dictionary is surrounded by curly braces {}.
topic='Dictionaries '
print(topic.upper ())

empty_dict_1 = {}
empty_dict_2 = dict()
print(type(empty_dict_1))

my_dict = {'key1': 'value1',
            'key2': 'value2',
            'key3': 'value3'
            } # pay attention to the columns
print(my_dict)
print(my_dict ['key1'])

state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }
print(state_capitals['Colorado']) # accessing method
state_capitals['Virginia'] = 'Richmond'  # adding a new item
print(state_capitals)
state_capitals['Texas'] = 'Austin'
print(state_capitals)

mix_values = {'animal': ('dog', 'cat'),  # tuple type
              'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
              'number': 40,  # int type
              'pi': 3.14,  # float type
              'is_good': True}  # bool type

mix_keys = {22 : "integer",
            1.2 : "float",
            True : "boolean",
            "key" : "string"}

dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True, city= 'Istanbul', countyr='Turkiye')
print(dict_by_dict)
dict_by_dict['mountains'] = 'Taurus' # adding new item
dict_by_dict['rivers'] = 'Seyhan'
print(dict_by_dict,'\n')

#Main Operations with Dictionaries (items, keys , values)
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}
print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values(),'\n')

#updating
dict_by_dict.update({'is_bad': False})
print(dict_by_dict)

#deleting
dict_by_dict = {'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

print('pi' in dict_by_dict) 
print('animal' not in dict_by_dict)  # remember, we have deleted 'animal'

#Nested Dictionaries
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}
print(school_records)
print(school_records['personal_info']['teen']['marry']['age']) # how to search
print(school_records['grades_info']['kid']['sue']['math'])

In [ ]:
#SETS
empty_set = set()
print(empty_set)
print(type(empty_set), '\n')

colorset = {'purple', 'orange', 'red', 'darkblue', 'yellow', 'red'}
print(colorset)
print(colorset,'\n')

s = set('unselfishness')
print(s,'\n') 

flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flowerset = set(flower_list)
flowerlist = list(flowerset)
print(flowerset) 
print(flowerlist,'\n') 

x= {'carnation', 'orchid', 'rose', 'violet'} 
set_1=set(x)
y={'rose', 'orchid', 'rose', 'violet', 'carnation'}
set_2=set(y)
print(set_1, '\n', set_2)
print(type(set_1),'\n')

#\Main Operations with Sets
 #   .add() : Adds a new item to the set.
 #  .remove() : Allows us to delete an item.
 #   .intersection() : Returns the intersection of two sets.
 #   .union() : Returns the unification of two sets.
 #   .difference() : Gets the difference of two sets.

a = set('abracadabra')
print(a)   
a = set('abracadabra')
b = set('alacazam')

print(a - b)  # same as '.difference()' method
print(a.difference(b),'\n') # a difference from b

print(a | b)  # same as '.union()' method
print(a.union(b), '\n') # unification of a with b

print(a & b)  # same as '.intersection()' method
print(a.intersection(b),'\n') # intersection of a and b

a.remove('c') # we delete 'c' from the set
print(a)
a.add('c') # we add 'c' again into the set
print(a)

In [ ]:
# CONTROL FLOW STATEMENTS
x='Control Flow Statements'
print(x.upper ()) # blank paranthesis
if True:
    print('it is true')
    
empty_seat = 14
if empty_seat > 3:  # in this case, 14>3=True, so the body will execute
    print('there is still seat to sit')